<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Client ID</key>
	<string>1dbea5d4e169e267b6c775b519fcb7bb2f63113b</string>
	<key>Token</key>
	<string>a111ea118ffe55c518d259fe78de7a95</string>
	<key>Client Secret</key>
	<string>7eQp+pIPbJyNQZZGp5jry3FCrkE66RPl/NHm63yhQ7byZKhRdc0+ktnEUtcSHaIWPWl7ddjA7JwHT0fpi146vwfNgcebcAotJoiSQiHSzGNjcOuYqotrWKSS0VI5CHFY</string>
</dict>
</plist>
